#services{
	background-color: #005baf;
	padding-top: 50px;
    padding-bottom: 35px;
	/*.icon{
			color: #FFFFFF;
	}*/
	.container{
		margin-top: 70px;
		padding-bottom: 22px;
	}
	.icon{
		text-align: center;
		color: #FFFFFF;
		position: relative;
    	padding-top: 60px;
	}
	.fa-caret-down{
		font-size: 40px;
    color: #7FD81F;
	}
	.fonttype12{
		font-family: 'Lato', sans-serif;
	}
}