body{
	font-family: 'Open Sans' , sans-serif;
	/*font-family: 'Lato', sans-serif;*/
	/*overflow-x: hidden;*/
}
.bgimages{
    height: 55px;
    background-image: url('../images/menubg-new.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-default .navbar-nav>li>a {
	color: white;
    font-weight: bold;
    font-size: 17px;
}
.navbar-default {
    background-color: #FFFFFF;
    border-color: #e7e7e7;
    margin: 0;
    
}
.arrange{
	    padding: 0px 0px 24px 36px;
}
.padding20{
	padding:  0 20px;
}

@media screen and (max-width: 480px){
	header{
		.bgimages {
		    width: 167%;
		    /* height: 100%; */
		    height: 50px;
		    background-image: url(../images/menubg-new.png);
		    background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: cover;
		}
	}
}
